<div [@routerTransition]>
    <h2 class="text-muted">Dashboard <small>Statistics Overview</small></h2>     
    <hr>
    <div class="row">
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'primary'" [icon]="'fa-calendar'" [count]="7" [label]="'New Appointments'" ></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'warning'" [icon]="'fa-user-md'" [count]="1" [label]="'Awaiting Confirmation'" ></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'success'" [icon]="'fa-users'" [count]="25" [label]="'Active Patients'" ></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'danger'" [icon]="'fa-upload'" [count]="124" [label]="'Archived Appointments'"></app-stat>
        </div>
    </div>
    <hr />   
    <div class="deskContent card-body table-responsive">
        <app-calendar-scheduler></app-calendar-scheduler>
    </div>  
</div>
