<div [@routerTransition]>
  <app-page-header [heading]="'Appointments'" [icon]="'fa-calendar'"></app-page-header>
  <div class="row">
    <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12">
      <div class="card mb-3">
        <div class="card-header">
          <div class="row">
            <div class="col-md-6">
              <a class="btn rounded-btn" [routerLink]="['/patients']">New Appointment </a>
            </div>
            <div class="input-group mb-3 col-md-6">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">
                  <li class="fa fa-search"></li>
                </span>
              </div>
              <input type="text" [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Search..."
                aria-label="Search" aria-describedby="basic-addon1">
            </div>
          </div>
        </div>
        <div class="card-body table-responsive">
          <table class="table table-bordered" *ngIf="appointments$ | async as appointments">
            <thead>
              <tr>
                <th>#</th>
                <th>Patient Full Name</th>
                <th>Email Address</th>
                <th>Cellphone</th>
                <th>Appointment Date</th>
                <th>Description</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of appointments | filter: searchText | paginate: { itemsPerPage: 10, currentPage: p }">
                <th scope="row">{{item.AppointmentId}}</th>
                <td>{{item.FirstName}} {{item.Surname}}</td>                
                <td>{{item.Email}}</td>
                <td>{{item.Cellphone}}</td>
                <td>Date: {{item.StartDate}}  From: {{item.FromTime}} To: {{item.ToTime}}</td>
                <td>{{item.Description}}</td>
                <td><a class="btn rounded-btn" [routerLink]="['/appointments/edit']" (click)="edit(item)" >Edit</a></td>
              </tr>
            </tbody>
          </table>
          <div class="justify-content-center">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </div>           
        </div>
      </div>

    </div>

  </div>
</div>