<div [@routerTransition]>
  <app-page-header [heading]="'View Patient'" [icon]="'fa-user'"></app-page-header>
  <p-growl [(value)]="msgs"></p-growl>
  <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" width="425"></p-confirmDialog>
  <div class="row">
    <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12">
      <div class="card mb-3">
        <div class="card-header">
        </div>
        <div class="card-body table-responsive">
          <div class="col-lg-10 offset-1">
            <table class="table">
              <thead class="mdb-color darken-3">
                <tr>
                  <th>Details</th>
                  <th>Value</th>
                </tr>
              </thead>
              <tbody *ngIf="patient$ | async as patient">
                <tr>
                  <td>Full Name:</td>
                  <td>{{patient[0].FirstName}} {{patient[0].Surname}}</td>
                </tr>
                <tr>
                  <td>Contact Number:</td>
                  <td>{{patient[0].Cellphone}}</td>
                </tr>
                <tr>
                  <td>Email:</td>
                  <td>{{patient[0].Email}}</td>
                </tr>
                <tr>
                  <td></td>
                  <td>
                    <a class="btn  rounded-btn-success"  (click)="prescribe()" ><i class="fa fa-prescription-bottle-alt"></i>Prescribe</a>    &nbsp;
                    <a class="btn  rounded-btn-success"  (click)="appointment()" ><li class="fa fa-calendar"></li> Create Appointment</a>    &nbsp;
                    <a class="btn  rounded-btn-info"  (click)="edit(patient[0])" ><li class="fa fa-edit"></li> Edit</a>    &nbsp;
                    <a class="btn rounded-btn-warning"  (click)="archivePatient(patient[0])" ><li class="fa fa-trash"></li> Archive</a>              

                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>

  </div>

  <div class="row">
    <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12">
      <div class="card mb-3">
        <div class="card-header">
          <div class="row">
            <div class="col-md-6">
              <h3>Patient's Prescriptions</h3>
            </div>
            <div class="input-group mb-3 col-md-6">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">
                  <li class="fa fa-search"></li>
                </span>
              </div>
              <input type="text" [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}" class="form-control Search" placeholder="Search..."
                aria-label="Search" aria-describedby="basic-addon1">
            </div>
          </div>
        </div>
        <div class="card-body table-responsive">
          <table class="table card-table" *ngIf="prescriptions$ | async as prescriptions">
            <thead>
              <tr>
                <th>Diagnosis</th>
                <th>Date</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of prescriptions | filter: searchText | paginate: { itemsPerPage: 10, currentPage: p }">
                <td>{{item.diagnosis}}</td>
                <td>{{item.createdate| date:'mediumDate'}}</td>
                <td><a class="btn rounded-btn-info" [routerLink]="['/appointments/edit']" (click)="editAppointment(item)" ><li class="fa fa-edit"></li> Edit</a> &nbsp;
                  <a class="btn rounded-btn-warning"  (click)="archiveAppointment(item)" ><li class="fa fa-trash"></li> Print</a>              
                </td>
                
              </tr>
            </tbody>
          </table>
          <div class="justify-content-center">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </div>           
        </div>
      </div>

    </div>

  </div>



  <div class="row">
    <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12">
      <div class="card mb-3">
        <div class="card-header">
          <div class="row">
            <div class="col-md-6">
              <h3>Patient's Appointments</h3>
            </div>
            <div class="input-group mb-3 col-md-6">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">
                  <li class="fa fa-search"></li>
                </span>
              </div>
              <input type="text" [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}" class="form-control Search" placeholder="Search..."
                aria-label="Search" aria-describedby="basic-addon1">
            </div>
          </div>
        </div>
        <div class="card-body table-responsive">
          <table class="table card-table" *ngIf="appointments$ | async as appointments">
            <thead>
              <tr>
                <th>#</th>                
                <th>Appointment Date</th>
                <th>Description</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of appointments | filter: searchText | paginate: { itemsPerPage: 10, currentPage: p }">
                <th scope="row">{{item.AppointmentId}}</th>                
                <td>Date: {{item.StartDate}}  From: {{item.FromTime}} To: {{item.ToTime}}</td>
                <td>{{item.Description}}</td>
                <td><a class="btn rounded-btn-info" [routerLink]="['/appointments/edit']" (click)="editAppointment(item)" ><li class="fa fa-edit"></li> Edit</a> &nbsp;
                  <a class="btn rounded-btn-warning"  (click)="archiveAppointment(item)" ><li class="fa fa-trash"></li> Archive</a>              
                </td>
                
              </tr>
            </tbody>
          </table>
          <div class="justify-content-center">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </div>           
        </div>
      </div>

    </div>

  </div>
</div>