a.btn.btn-default {
    background-color: #252525;
    color: #fff;
    padding: .5em 1.5em;
    border: none;
    outline: none;
    border-radius: inherit;
}
 
 .style{
     background: transparent;
 }