<div class="content">
    <div class="monthly-grid">
      <div class="panel panel-widget">
        <div class="panel-body">
          <div class="contain">
            <div class="header_bg">
              <div class="header">
                <div class="head-t">
                  <div class="row">
                    <nav aria-label="breadcrumb">
                      <ol class="breadcrumb style">
                        <li class="breadcrumb-item">
                          <a routerLink="/dashboard">Home</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Patients</li>
                      </ol>
                    </nav>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <a type="submit" routerLink="/patients/add" class="btn btn-default">Add Patient</a>
                    </div>
                    <div class="col-md-6">
                      <div class="clearfix"> </div>
                    </div>
                  </div>
                  <div class="clearfix"> </div>
                </div>
              </div>
            </div>
  
            <!--content-->
            <div class="content">
              <div class="monthly-grid">
                <div class="panel panel-widget">
                  <div class="panel-title">
                    Patients List
                  </div>
                  <div class="panel-body">
                    <!-- status -->
                    <div class="contain">
                      <div class="row">
                        <app-list-patients></app-list-patients>
                      </div>
                    </div>
                    <!-- status -->
                  </div>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>