<div [@routerTransition]>
    <app-page-header [heading]="'Add Prescription'" [icon]="'fa-user-plus'"></app-page-header>
    <p-growl [(value)]="msgs"></p-growl>
    <div class="row">
        <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="card mb-3">
                <div class="card-header">
                </div>
                <div class="card-body table-responsive">
                    <div class="col-lg-10 offset-1">
                        <form role="form">

                            <fieldset class="form-group">
                                <div class="row">
                                    <label class="col-md-2">Diagnosis:</label>
                                    <div class="input-group mb-3 col-md-6 ">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">
                                                <li class="fa fa-book-open"></li>
                                            </span>
                                        </div>
                                        <input type="text" [(ngModel)]="diagnosis" [ngModelOptions]="{standalone: true}"
                                            class="form-control textbox-dark" placeholder="Diagnosis" aria-label="diagnosis"
                                            aria-describedby="basic-addon1">
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset class="form-group">
                                <div class="row"> 
                                    <label class="col-md-2">Blood Preasure:</label>
                                    <div class="input-group mb-3 col-md-6 ">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">
                                                <li class="fa fa-tint"></li>
                                            </span>
                                        </div>
                                        <input type="text" [(ngModel)]="boolPreasure" [ngModelOptions]="{standalone: true}"
                                            class="form-control textbox-dark textbox-dark" placeholder="Blood Preasure" aria-label="Surname"
                                            aria-describedby="basic-addon1">
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset class="form-group">
                                <div class="row">
                                    <label class="col-md-2">Pulse Rate:</label>
                                    <div class="input-group mb-3 col-md-6 ">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">
                                                <li class="fa fa-heartbeat"></li>
                                            </span>
                                        </div>
                                        <input type="text" [(ngModel)]="pulseRate" [ngModelOptions]="{standalone: true}"
                                            class="form-control textbox-dark textbox-dark" placeholder="Pulse Rate" aria-label="Pulse Rate"
                                            aria-describedby="basic-addon1">
                                    </div>
                                </div>
                            </fieldset>
                            <div class="card-body table-responsive">
                                <table class="table table-bordered" *ngIf="selectedDrugs">
                                    <thead>
                                        <tr>
                                            <th>Drug</th>
                                            <th>Unit <i>(tablets or syrup)</i></th>
                                            <th>Dosage <i>(per day)</i></th>
                                            <td>Del</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of selectedDrugs">
                                            <th scope="row">{{item.name}}</th>
                                            <td>{{item.unit}}</td>
                                            <td>{{item.dosage}}</td>
                                            <td><a class="btn rounded-btn" (click)="view(item)">X</a></td>
                                        </tr>
                                        <tr>
                                            <td colspan="5">
                                                <a class="btn rounded-btn-info" (click)="showDialog()">+</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                            <p-dialog header="Select Medicine" [(visible)]="display" [width]="900" [modal]="true">
                                <div class="card-body table-responsive">
                                    <div class="col-lg-10 offset-1">
                                        <form role="form">                                            
                                            <fieldset class="form-group">
                                                <div class="row">
                                                    <label class="col-md-2">Select Drugs:</label>
                                                    <div class="input-group mb-3 col-md-6 ">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" id="basic-addon1">
                                                                <li class="fa fa-prescription-bottle-alt"></li>
                                                            </span>
                                                        </div>
                                                        <p-autoComplete [(ngModel)]="selectedDrug.name"  [ngModelOptions]="{standalone:
                                                            true}" [suggestions]="results" 
                                                            (completeMethod)="search($event)"></p-autoComplete>

                                                    </div>
                                                </div>
                                            </fieldset>

                                            <fieldset class="form-group">
                                                <div class="row">
                                                    <label class="col-md-2">Unit:</label>
                                                    <div class="input-group mb-3 col-md-6 ">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" id="basic-addon1">
                                                                <li class="fa fa-sort-numeric-up"></li>
                                                            </span> 
                                                        </div>
                                                        <input type="number" [(ngModel)]="selectedDrug.unit" [ngModelOptions]="{standalone: true}"
                                                            class="form-control textbox-dark" placeholder="Unit" aria-label="Pulse Rate"
                                                            aria-describedby="basic-addon1">
                                                    </div>
                                                </div>
                                            </fieldset>

                                            <fieldset class="form-group">
                                                <div class="row">
                                                    <label class="col-md-2">Dosage:</label>
                                                    <div class="input-group mb-3 col-md-6 ">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" id="basic-addon1">
                                                                <li class="fa fa-check"></li>
                                                            </span>
                                                        </div>
                                                        <input type="text" [(ngModel)]="selectedDrug.dosage" [ngModelOptions]="{standalone: true}"
                                                            class="form-control textbox-dark textbox-dark" placeholder="Dosage" aria-label="Pulse Rate"
                                                            aria-describedby="basic-addon1">
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <div class="justify-content-center">
                                                <a class="btn rounded-btn-success" (click)="pushDrug(selectedDrug)">Save</a>

                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </p-dialog>


                            <div class="justify-content-center">
                                <a class="btn rounded-btn-success" (click)="add()">Add Prescription</a> &nbsp;
                                <a class="btn rounded-btn-warning" [routerLink]="['/patients/view',patientId]">Abort</a>
                            </div>
                            <pre>
                                {{prescriptionObject|json}}
                            </pre>
                        </form>

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
